.btn{
      width: 100%;
      border: 3px solid black;
      aspect-ratio:1/1;
      font-size: 2.5rem;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
}

.active{
 background-color: hsl(200,100%,50%);
 color: white;
}

.inactive{
      opacity: .3;
}

.btn:hover:not(:disabled), .btn:focus:not(:disabled){
      background-color: hsl(200,100%,50%);
}

.btn:hover:disabled, .btn:focus:disabled{
      cursor: not-allowed;
}
